.bg{
    width: 100%;
    height:100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;

}
#video1{
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -999;
    position: fixed;
    height: 100%;
    width: 100%;
    }
    .headingi{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .headingi h1{
        font-size: 4rem;
        text-align: center;
        color:#39bdc8;
      }
      @media (max-width: 999px) {
        .headingi h1{
          font-size: 2.8rem;

        }
      }