.heading1 h2 {
font-size: 2.5rem;
text-align: start;
padding: 1rem;
margin: 2rem;

}
.heading1 h3 {
    font-size: 2.25rem;
    text-align: end;
    padding: 1rem;
    margin: 2rem;
    
    }
.heading2 h3 {
    font-size: 2.25rem;
    text-align: start;
    padding: 1rem;
    margin: 2rem;
    
    }

.heading2 h2{
font-size: 2.5rem;
text-align: end;
padding: 1rem;
margin: 1rem;
}
 .instructions li{
font-size: 1.4rem;
font-weight: 400;
text-align: center;
padding: .8rem;
/* margin: 1rem; */
 }
 ul{
    list-style: none;
 }

 .instructions h2{
    text-align: center;
    padding: 1rem;
    font-size: 2.25rem;
 }
 .start{
    margin-left:40rem;
    height:5rem;
    width:15rem;
    font-size:2rem;
    background-color: #071B2F;
    border-radius: 6%;
    color:#B6E4C8;
 }
 .start:hover{
    box-shadow: 3px 4px 3px 4px silver;
    transform: scale(1.1) !important;
}