
.heading1{
   background-image: url(https://sb-ui-kit-pro.startbootstrap.com/assets/img/illustrations/windows.svg), linear-gradient(to bottom right,rgb(26, 26, 235),rgb(106, 8, 106));
   background-repeat: no-repeat;
   background-position-x:47rem,0;
   background-position-y:15rem,0 ;
   background-size: 50% 50%, 100% 100%;
   margin-top:-2.5%;
   height:45rem;
   border-bottom-left-radius: 20%;
   border-bottom-right-radius: 20%;
   padding:1rem;
}
.heading1 h2 {
font-size: 2.3rem;
text-align: start;
padding: 1rem;
margin: 2rem;
color:white;
}
.heading1 img{
   height:10rem;
}
.girl{
   margin-left: 50rem;
}
.heading1 h3 {
    font-size: 1.5rem;
    width:45%;
    margin-left: 5rem;
    margin-top:5rem;
    margin-bottom: -4rem;
    color:white;
    }

.heading2 h2{
font-size: 2.5rem;
text-align: end;
padding: 1rem;
margin: 1rem;
}
 .instructions li{
font-size: 1.4rem;
font-weight: 400;
text-align: center;
padding: .8rem;
 }
 ul{
    list-style: none;
 }

 .instructions h2{
    text-align: center;
    font-size: 2.25rem;
 }
 .start{
    margin-left:40rem;
    height:5rem;
    width:15rem;
    font-size:2rem;
    margin-top:13rem;
    background-color: rgb(84, 185, 84);
    border:1px solid rgb(84, 185, 84);
    border-radius: 6%;
    color:white;
 }
 .start:hover{
    box-shadow: 3px 4px 3px 4px blueviolet;
    transform: scale(1.1) !important;
    cursor: pointer;
}